<h2>Login to View What's In Your Fridge!</h2>

<form action='/login' method='post'>

<label for="username">Username: </label>
<input type="text" name="username"><br/>

<label for="password">Password: </label>
<input type="password" name="password"><br/>

<input type="submit" value="Submit">

</form>