<h2>Login to View What's In Your Fridge!</h2>
  
<form action='/login' method='post'>

<label for="username">Username: </label>
<input type="text" name="username" class="rounded"><br/>

<label for="password">Password: </label>
<input type="password" name="password" class="rounded">
<br/>
<br/>
<button type="submit" class="btn btn-outline-info mx-">Login</button>
</form>