<h2>Welcome, <%=@user.username%>!</h2>
<h5>These are the grocery items in your fridge:</h5>

<ul>
    <%@groceries.each do |grocery|%>
        <li><a href="/groceries/<%=grocery.id%>"><%=grocery.name%></a></li>
    <%end%>
</ul>
