<h2>Welcome!</h2>
<h5>List of items in <%=@user.username%>'s fridge:</h5>

<ul>
    <%@groceries.each do |grocery|%>
        <li><a href="/groceries/<%=grocery.id%>"><%=grocery.name%></a></li>
    <%end%>
</ul>
<br/>
<% if Helpers.current_user(session) != @user%>
    <button type="button" class="btn btn-outline-info mx-1"><a href="mailto:<%=@user.email%>">Contact User</a></button>
<%end%>
