<h2>Welcome!</h2>
<h5>List of items currently in <%=@user.username%>'s fridge:</h5>

<ul>
    <%@groceries.each do |grocery|%>
        <li><a href="/groceries/<%=grocery.id%>"><%=grocery.name%></a></li>
    <%end%>
</ul>
