<h2>Sign Up To Start Tracking What's in Your Fridge!</h2>

<form action='/signup' method='post'>
    <label for="username">Username: </label>
    <input type="text" name="username" class="rounded"><br/>

    <label for="email">Email: </label>
    <input type="email" name="email" class="rounded"><br/>

    <label for="password">Password: </label>
    <input type="password" name="password" class="rounded">

    <br/>
    <br/>
    
    <button type="submit" class="btn btn-outline-info">Sign Up</button>
</form>