<form action="/groceries" method="post">
    <h2>Grocery Item:</h2>
    
    <label>Name: </label>
    <input type="text" name="name" id="name"><br/>
    
    <label>Brand: </label>
    <input type="text" name="brand" id="brand"><br/>
    
    <label>Expiration Date: </label>
    <input type="date" name="expiration_date" id="expiration_date"><br/>


    <input type="submit" value="Add Item"/>
</form>

