<form action="/groceries" method="post">
    <h2>Grocery Item:</h2>
    
    <label>Name: </label>
    <input type="text" name="name" id="name" class="rounded"><br/>
    
    <label>Brand: </label>
    <input type="text" name="brand" id="brand" class="rounded"><br/>
    
    <label>Expiration Date: </label>
    <input type="date" name="expiration_date" id="expiration_date" class="rounded"><br/>

    <label>Comment: </label>
    <br/>
    <textarea type="text" name="comment" id="comment" rows="3" cols="50" class="rounded"> </textarea>

    <br/>
    <br/>

    <button type="submit" class="btn btn-outline-info">Add Item</button>
</form>

