<div class="container">
<br/>
<br/>
<br/>
   <header><img style="float:left" src="https://webstockreview.net/images/fridge-clipart-9.png" class="img-responsive main-image" width=20%></header> 
    
    <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to "What's in my Fridge?"" The Groceries Tracking App</h2>
    </div>
  
</div>
