<div class="container">
   <header><img src="https://webstockreview.net/images/fridge-clipart-9.png" class="img-responsive main-image" width=20%></header> 
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to "What's in my Fridge? The Groceries Tracking App</h2>

    <h3> <a href="/signup">Sign Up</a><br/><a href="/login">Log In</a> </h3>

  </div>
  
</div>
